# Tout le dossier writable (sessions, logs, debugbar, database)
codeigniter4/writable/

# Fichier .env (config locale)
codeigniter4/.env

# Vendor Composer
codeigniter4/vendor/

# Fichiers OS
Thumbs.db
.DS_Store
